#header-sec {
  display: none;
}

#main-sec .filters-sec {
  display: none !important;
}

#search {
  width: 360px;
  height: 42px;
  border-radius: 21px;
  background: #f2f2f2;
}

#search-icon {
  width: 16px;
  height: 16px;
  top: 38px;
  left: 590px;
}

#banner-sec {
  height: 440px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(./assets/banner-img.png);
  background-size: 100% 100%;
}

#banner-sec > div {
  color: white;
  position: absolute;
  top: 370px;
  left: 224px;
}

#banner-sec > div > h1 {
  font-size: 36px;
}

#banner-sec > div > p {
  font-size: 18px;
}

#main-sec .post-cards {
  width: 43.4rem;
}

#main-sec .btns-block button {
  border-radius: 4px;
  font-size: 15px;
}

#main-sec .btns-block button:first-child {
  background: #edeef0;
}

#main-sec .btns-block button:last-child {
  background-color: #2f6ce5;
}

#main-sec .card-heading {
  font-size: 22px;
}

#main-sec .descp {
  font-size: 19px;
}

#main-sec .loc-text {
  font-size: 12px;
}

#main-sec .big-btn {
  border: 0.7px solid #a9aeb8;
  border-radius: 8px;
  width: 100%;
  color: #e56135;
  font-size: 13px;
}

#main-sec .menu-list {
  width: 160px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  border-radius: 4px;
  right: 0px;
  top: 48px;
}

#main-sec .menu-list p {
  margin-bottom: 7px;
}

#signup {
  display: none;
}

#signup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup .overlay .card {
  border-radius: 8px;
}

#signup .close-btn-light {
  position: absolute;
  top: -35px;
  right: -14px;
  cursor: pointer;
}

#signup .modal-header-custom {
  background-color: #effff4;
  color: #008a45;
  font-size: 14px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#signup .social-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#signup form input,
#signup form .pswd-icon {
  border-radius: 2px;
  color: #d9d9db;
  background: #f7f8fa;
  padding-top: 10px;
  padding-bottom: 10px;
}

#signup .social-buttons .btn {
  border: 0.6px solid #d9d9db;
  font-size: 14px;
}

#signup .acc-btn {
  width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  #search-icon {
    top: 38px;
    left: 342px;
  }

  #banner-sec > div {
    top: 370px;
    left: 96px;
  }

  #main-sec .post-cards {
    width: auto;
  }
}

@media screen and (max-width: 1023px) {
  header,
  #main-sec .posts-sec,
  #main-sec .location-div {
    display: none;
  }

  #banner-sec {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
      url(./assets/banner-img-2.png);
    background-size: 100% 100%;
  }

  #banner-sec > div {
    top: 299px;
    left: 28px;
  }

  #header-sec {
    display: block;
  }

  #header-sec > div {
    top: 20px;
  }

  #main-sec .filters-sec {
    display: flex !important;
  }

  #main-sec .post-cards {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  #banner-sec > div {
    top: 315px;
    left: 86px;
  }

  #banner-sec > div > h1 {
    font-size: 4vh;
  }

  #banner-sec > div > p {
    font-size: 3vh;
  }

  #signup .modal-header-custom {
    display: none;
  }

  #signup .acc-btn {
    width: 40%;
  }

  #signup .overlay {
    align-items: end;
  }

  #signup .overlay .card {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

@media screen and (max-width: 426px) {
  #banner-sec > div {
    top: 322px;
    left: 26px;
  }

  #banner-sec > div > h1 {
    font-size: 3vh;
  }

  #banner-sec > div > p {
    font-size: 2vh;
  }

  #main-sec .card-heading {
    font-size: 18px;
  }

  #main-sec .descp {
    font-size: 16px;
  }

  #signup .acc-btn {
    width: auto;
  }
}

@media screen and (max-width: 320px) {
  #main-sec .person-info {
    flex-direction: column;
    row-gap: 15px;
    align-items: baseline;
  }
}
